@media (max-width: 1100px) {
}

@media (max-width: 992px) {
  .praimaryHeading {
    font-size: 54px;
  }
  .container_cards_howItWork {
    grid-template-columns: repeat(2, 1fr);
  }
  #card5 {
    grid-row: 3;
    grid-column: 1 /2;
  }
  #card6 {
    grid-row: 5;
    grid-column: 1 /5;
  }
  .cta .container {
    grid-template-columns: 1fr;
  }
  .leftCta {
    text-align: center;
    padding: 64px 0;
  }
  .righttCta img {
    display: none;
  }
  .rights .container {
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
  }
  .containerFAQ {
    grid-template-columns: 1fr;
  }
  .leftFAQ {
    padding: 0 0 64px 0;
    border-left: none;
  }
  .ListFAQ_categories {
    flex-direction: row;
    justify-content: center;
  }
  .containerLoginPage {
    grid-template-columns: 1fr;
  }
  .rightLogin {
    display: none;
  }
  .nav_addProject {
    column-gap: 48px;
  }
  .container_cards {
    grid-template-columns: 1fr 1fr;
  }
  .headRight_addProject {
    display: block;
  }
  .headRight_addProject .toggles {
    margin-top: 24px;
  }
  .hero_content {
    margin-top: 86px;
  }
}
@media (max-width: 850px) {
  .whyContainer {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .whyRight img {
    display: none;
  }

  .cercleBeforText {
    display: none;
  }
  .title_businessOwner {
    margin: 0 auto 0 0;
  }
}

@media (max-width: 778px) {
  .hero_content {
    margin-top: 86px;
    grid-template-columns: 1fr;
  }
  .right_hero_content {
    display: none;
  }
  /* menu */
  .transform_menu {
    display: block;
    margin: 0;
  }

  .navgation {
    position: relative;
  }
  .containerUlNavigation {
    display: none;
    backdrop-filter: blur(7px);
    position: absolute;
    top: 0;
    right: -15%;
    width: 100%;
    height: 100vh;
    background-color: rgb(232, 246, 230, 0.9);
    z-index: 998;
    flex-direction: column;
    row-gap: 24px;
  }
  .containerUlNavigation ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }

  .navgation.active .containerUlNavigation {
    display: flex;
  }

  /* menu */

  .left_main_content {
    padding: 0 24px;
    text-align: center;
  }
  .first_action {
    justify-content: center;
  }
  .container_cards_howItWork {
    gap: 0;
    row-gap: 20px;
  }
  #card1 {
    grid-column: 1/5;
    grid-row: 1;
  }
  #card2 {
    grid-column: 1/5;
    grid-row: 3;
  }
  #card3 {
    grid-row: 7;

    grid-column: 1/5;
  }
  #card5 {
    grid-row: 8;
    grid-column: 1/5;
  }
  #card7 {
    grid-row: 6;
    grid-column: 1/5;
  }
  .plan .container {
    margin-top: 0;
    grid-template-columns: 1fr;
    position: relative;
  }

  .leftPlan span {
    font-size: 18px;
  }
  .leftPlan ul {
    margin-top: 48px;
  }
  .rightPlan {
    display: none;
  }
  .rights .container {
    grid-template-columns: 1fr;
    row-gap: 24px;
    text-align: center;
  }
  .description_right_box {
    width: 60%;
    margin: auto;
  }
  .contentFooter {
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
  }
  .container_addProject {
    grid-template-columns: 1fr;
    column-gap: 24px;
    width: 100%;
  }
  .container_cards {
    grid-template-columns: 1fr 1fr;
  }

  .head-section {
    grid-template-columns: 1fr;
  }
  .left_addProject  {
    width: 100%;
  }
  .list_filter_addProject  {
    margin-bottom: 32px;
  }
  .inputLogin, select {
    max-width: 100%;
  }
}
@media (max-width: 578px) {
  .mainHeading {
    font-size: 35px;
  }
  .watchVideo_text {
    display: none;
  }
  .howItWork_orderList {
    gap: 24px;
  }
  .howItWork_orderList a {
    font-size: 18px;
  }
  .praimaryHeadingCta {
    font-size: 42px;
  }
  .mainHeadingRights,
  .mainHeadingFAQ {
    font-size: 32px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .headPlan {
    text-align: center;
    padding: 0 28px;
  }

  .why {
    padding: 64px 18px;
  }
  .why h2 {
    justify-content: left;
  }
  .description_right_box {
    width: 100%;
  }
  .title_accordion {
    font-size: 18px;
  }
  .ListFAQ_categories {
    gap: 12px;
  }
  .item_FAQ {
    font-size: 18px;
  }
  .item {
    gap: 12px;
    padding: 12px;
  }
  .description_accordion {
    font-size: 14px;
  }
  .contentFooter {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .listCols_footer {
    justify-content: center;
  }
  .theEnd {
    margin-top: 64px;
    flex-direction: column-reverse;
    row-gap: 48px;
  }
  .loginW_text {
    display: none !important ;
  }
  .headRight_addProject {
    display: block;
  }
  .headRight_addProject .toggles {
    margin-top: 24px;
  }
  .typeAddProjectCards {
    margin-bottom: 24px;
  }
}
@media (max-width: 415px) {
  .pagination {
    grid-template-columns: 1fr;
  }

  .toggles {
    display: block;
  }
  .toggles .online_sellers {
    margin-bottom: 12px;
  }

}
